.boxs-cards {
    margin: 2rem;
    display: inline-block;
    background-color: rgb(79, 79, 78);
    /* width: 250px;
    height: 150px; */
    border-radius: 15px;
    margin-top: 2rem;
    overflow: hidden;
  }

  .boxs-cards img {
    width: 300px;
    height: 170px;
  }
  
  .boxs-cards:hover {
    transform: scale(1.25,1.25);
  }